@include b('high_block') {
  .content {
    width: 100%;
    line-height: 26px;
    padding: 10px;
    box-sizing: border-box;
    .box {
      width: 100%;
      padding: 16px;
      box-sizing: border-box;
      border: 1px solid transparent;
      border-radius: 8px;
      display: flex;
      &.no-value {
        height: 50px;
        border-color: #fed4a4;
        background-color: #fff5eb;
      }
      .prefix-icon {
        max-width: 24px;
        overflow: hidden;
        margin-right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
      }
      .text {
        flex: 1;
        font-size: 16px;
      }
    }
  }
}
